services:
  - type: web
    name: my-art-api
    runtime: node
    plan: free
    region: singapore
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: NODE_ENV
        value: production
    autoDeploy: true
    